<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="sysLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/log.log</File>
        <!-- <File>D:\test\testlog.log</File> -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                logs/log.log.%d{yyyy-MM-dd}
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{10} [%file:%line] %level - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{10} [%file:%line] %level - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.mchange" level="error"/>
    <logger name="c.m.v" level="error"/>
    <logger name="c.m" level="error"/>

    <root level="info">
        <appender-ref ref="sysLogFile"/>
        <appender-ref ref="stdout"/>
    </root>

</configuration>